#body .header .login span{
    color: red;
    font-size: 20px;
}

#body .header .login input{
    text-transform: none;

}

#body .header .login{
    border: 2px solid white;
    margin-top: 5em;
    border-radius: 50px;
    box-shadow: 20px 20px 10px 5px rgb(104, 104, 104);
}




