#body .header .create span{
    color: red;
    font-size: 20px;
}

#body .header .create input{
    text-transform: none;

}
#body .header .create textarea{
    text-transform: none;

}

#body .header .create{
    border: 2px solid white;
    margin-top: 2em;
    border-radius: 50px;
    box-shadow: 20px 20px 10px 5px rgb(104, 104, 104);
}
