.footer a{
    border: 5px solid white;   
    background: url(https://media.istockphoto.com/id/1035676256/photo/background-of-galaxy-and-stars.jpg?s=612x612&w=0&k=20&c=dh7eWJ6ovqnQZ9QwQQlq2wxqmAR7mgRlQTgaIylgBwc=);
    
}

.footer .homePageText{
    display: flex;
    flex-direction: column;
    color: white;
    
}


.footer .homeImage{
    border: 2px solid white;
    border-radius: 5px;
    
}


