#body .header .register span{
    color: red;
    font-size: 20px;
}

#body .header .register input{
    text-transform: none;

}

#body .header .register{
    border: 2px solid white;
    margin-top: 5em;
    border-radius: 50px;
    box-shadow: 20px 20px 10px 5px rgb(104, 104, 104);
}


